

<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>

<hr>

<h1>New task</h1>

<%= render 'tasks/form' %>

<hr>

<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project.tasks.each do |task| %>
  <% if task.persisted? %>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.status %></td>
    <td><%= task.project.name %></td>
    <td><%= link_to 'Show', [task.project, task], class: "btn btn-outline-success btn-sm" %></td>
    <td><%= link_to 'Edit', edit_project_task_path(task.project, task), class: "btn btn-outline-warning btn-sm" %></td>
    <td><%= button_to 'Delete', [task.project, task], method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-danger mx-4" %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_project_task_path(:project_id) %>
